# Backbone

snippet bbc
	Backbone.Collection.extend({
	  ${1}
	});
snippet bbm
	Backbone.Model.extend({
	  ${1}
	});
snippet bbv
	Backbone.View.extend({
	  ${1}
	});
snippet bbe
	Backbone.${1:Collection}.extend({
	  ${2}
	});
